<!-- app/views/posts.html -->
<div class="container">
  <h1>Posts</h1>
  <ul>
    <li ng-repeat="post in posts">
      <a href="{{post.link}}"
         target="_blank">{{post.title.rendered}}</a>
      <a ng-click="editPost(post.id)"
         ng-show="user.capabilities.edit_posts">Edit</a>
    </li>
  </ul>

  <form name="editPostForm" id="editPost" style="display: none;" class="edit">
    <label for="title">Title:</label>
    <input type="text" id="title" ng-model="post.title">
    <label for="content">Content</label>
    <input type="text" id="content" ng-model="post.content"/>
    <a ng-click="updatePost()">Save</a>
  </form>

  <p id="responseMessage"></p>
</div>